nav {
    background-color: #966b3d;
    border: 2mm ridge #815625;

    position: absolute;

    top: 0;
    left: 0;
    width: 15%;
    height: 100%;

    box-sizing: border-box;
    
    color: white;
}

nav li{
    list-style-type:none;
    margin: 2mm;
    border :1px solid rgba(0,0,0,0);
    border-bottom: 1px solid black;  
}

nav button {
    width: 100%;

    color: white;
    font-size: 1em;
    background-color: rgba(0, 255, 0, 0);
}

nav button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.PGLink {
     border-bottom: 2px solid black;
     height: 20mm;
}


.current {
    border: 1px solid black;
}

